<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST Assured test examples">
    <test name="All">
        <classes>
            <class name="CrudOperationsTest"/>
            <class name="DynamicJson"/>
            <class name="Exercise1"/>
            <class name="MyTestClass" />
            <class name="PostRequestTest" />
        </classes>
    </test>
</suite>